*{
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    font-family: 'Avenir', sans-serif;
    margin: 0 auto;
}

header,
section,
footer{
    width: 84%;
}
section,
.countryBar,
footer{
    margin: 0 auto;
}
/*section{
    margin: 0 auto;
    display: flex; 
}*/
.bg-title{
    display: flex;
    flex-direction: column;
}
header{
    position: sticky; /*не працює з flex? чи проблема в іншому?*/
    display: flex;
    margin: 41px auto 36px;
    margin-top: 41px;
}
.title,
.menu{
    width: 50%;
    margin-bottom: 33px;
}
.title{
    display: flex;
    justify-content: left;
}
.title>a{
    font-size: 18px; 
    font-weight: 700;
    color: #BC436A;
}
.menu{
    display: flex;
    /* justify-content: right; */

}
.links,
.bookGuide{
    font-weight: 400;
}
.title,
.links,
.bookGuide{
    padding: 8px auto;
}
.links{
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: 8px 0;
}
a{
    text-decoration: none;
    color: #776677;
}
a:hover{
    text-decoration: underline;
    color: darkblue;
}
.bookGuide{
    background-color: #386E41;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    padding: 8px;
    border-radius: 4px;
    
}
.bookGuide:hover{
    background-color: rgb(219, 248, 176);
    color: #386E41;
}
p,
footer{
    color: #7A7A7A;
    font-size: 18px;
}
.textTitle{
    color: #333;
    font-size: 36px;
    font-weight: 800;
}
.colorText{
    color: #BC436A;
}
.bg-title{
    display: flex;
}
.bg-picture{
    width: 812px;
    height: 812px;
    background-image: url(../images/bg-full.png);
    background-repeat: no-repeat;
    background-position: left center;
    border-radius: 50%;
    /* margin-left: -94px; */
}
/* .bg-img, */
.description,
.where{
    width: 50%;
}
.where>p{
    margin: 229px 0 0 0;
    padding-right: 60.66%;
}
.arrow{
    width: 100%;
}
.arrow::after{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../images/arrow1.png');
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 22%;
}
.countryBar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #386E41;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 30px 33px 29px 38px;
    margin-top: 33px;
    margin-bottom: 71px;
} 
.border{
    border-bottom: 1px solid #FFFFFF;
    width: 21%;
    position: relative;
}
.border::after{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../images/arrowWhite.png');
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    right: 4%; 
}
.searchPlace{
    display: flex;
    background-color: #BC436A;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    border-style: none;
    border-radius: 4px;
    padding: 8px 21px;
    /* width: 12%; */
    justify-content: flex-end;
}
.searchPlace:hover{
    background-color: darkslategray;
}
footer{
    display: flex;
    justify-content: center;
    margin-bottom: 41px;
    font-size: 18px;
    font-weight: 400;
}
.see{
    position: relative;
    margin: 0 0;
}
.see>a:hover{
    text-decoration: dotted;
    color: #BC436A;
}

.see::after{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../images/arrow2.png');
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: 34px;
    left: 42%;
}


