*{
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    
}
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}
.wrapper{
    display: flex;
    width: 100%;
    padding: 41px 120px 36px 120px;
   
}
.title,
.links{
width: 50%;
}
.menu{
    display: flex;
}
.guide{

}
.background{
    display: flex;
    flex;
    width: 812px;
    height: 812px;
    background-image: url(../images/bg-full.png);
    border-radius: 50%;
    
}