*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.clearfix:after {
    content: "";
    clear: both;
    display: table;
  }
h3,h4,
.landing{
    font-weight: 600;
}
.menu,
.menuButton,
h5{
    font-weight: 500;
}
h2{
    font-size: 47px;
    font-weight: 700;
    margin: 0 0 24px;
    
  }
h3{
    font-size: 36px;
  }
h4,
.landing{
    font-size: 27px;
  }
h5{
    font-size: 21px;
  }
p{
    font-size: 16px;
    font-weight: 400;
    color: #575757;
  }
.title-grey{
    color: #575757;
}
  
header{
    position: sticky;
    top: 0;
    padding: 0 12px;
    background-color: #fff;
}
a{
    text-decoration: none;
    padding: 0 0 0 27px;
    color: #000;
    
}
a:hover{
    text-decoration: underline; 
    color: darkviolet;
}
.landing{
    padding-top: 19px;
    float: left;
}
.menu,
.menuButton{
    float: right;
    font-size: 21px;
    font-weight: 500;
}
.menu{
    padding: 40px 0 35px;
}
.menuButton{
    padding: 25px 0 26px 32px;
}
.buyNow{
    background-color: #fff; 
    border: 1px;
    border-color: #2203E4;
    border-style: solid;
    color: #2203E4; 
    padding: 14px 16px 8px;
}
.buyNow:hover,
.buttonAuthors:hover,
.buttonCheck:hover,
.addTo:hover,
.want-button:hover,
.waiting:hover{
    text-decoration: underline;
    color: rgb(26, 9, 90);
    background-color: rgb(159, 208, 253);
}
.mobile,
.authors,
.opinions,
.a-title,
.forWhoTitle,
.users,
.s-title,
.h-demo,
.disscount,
h3,h4,h5,
p{
    margin: 0 auto;
}
button{
    display: inline-block;
}
.mobile{
    width: 1100px;
    padding-left: 10px;
    overflow: hidden;
}
.a-title,
.forWhoTitle,
.s-title,
.mobileTitle{
    width: 611px;
}
.mobileTitle{
    float: left;
    margin: 258px 48px 258px 0;
    
}

.iphone{
    float: right;
    margin: 119px -50px 0 0;
    /* margin-top: 120px;
    margin-left: 48px;   */
}

.buttonAuthors,
.buttonCheck{
    padding: 10px 16px;
}
.buttonAuthors,
.waiting{
    background-color: #0062FF;
    color: #fff;
    border: none;
    
}
.buttonAuthors{
    margin-right: 24px;
}
.buttonCheck{
    /* color: #575757; */
    background-color: #fff;
    border: none;
    outline: 1px solid #575757;
    outline-offset: -1px;
}
.authors,
.forWho,
.demo,
.opinions,
.startWith{
    text-align: center;
}
.authors{
    width: 1190px;  
}

.a-name{
    margin-bottom: 12px;
}
.a-info{
    margin-top: 36px;
}

.avatar{
    margin:10px 34px 10px 0;
}
.infoMark{
    text-align: left;
}
.mark-description{
    margin-top: 12px;
    margin-bottom: 24px;
}
.social>a{
    padding: 0 19px 0 0;
}
.user-left,
.user-right{
    display: inline-block;
}
.avatar,
.infoMark,
.demoInfo,
.think,
.jones-info,
.user-left{
    float: left;
}
.list{
    text-align: left;
    margin: 7px 73px 7px 0;
}
.list,
.demoIntro,
.arrow,
.user-right{
    float: right; 
}
.gregory>h5,
.henry>h5{
    color: #DEA405;
}
.gregory>p,
.henry>p{
    color: #FFBE0B;
}
.gregory,
.mark{
    margin-bottom: 8px;
}
.arrow{
    margin-top: 80px;
    margin-right: 8px;
}

.forWho{
    margin: 143px auto 63px;
    background-color: #0062FF;
    padding: 71px 0 0 0;
}
.white,
.white8px{
    color: #fff;
}
p.white{
    margin-top: 16px;
}
.wrapper-users{
    margin: 64px auto;
}
.users{
    width: 1262px;
    text-align: left;
    margin-bottom: 46px;
}
.user-left>img,
.user-right>img{
    display: inline-block;
}
.user-left{
    margin-right: 48px;
}
.white8px{
    margin-top: 8px;
}
.want-button{
    background-color: #fff;
    padding: 10px 16px;
    color: #2203E4;
    border: 1px solid #2203E4;
    margin-bottom: 72px;
}
.demo{
    width: 1103px;
    margin: 63px auto 130px;
}
.h-demo{
    padding-bottom: 12px;
}
.videoDemo{
    padding-top: 44px;
}
.demoInfo{
    padding-top: 11px;
}
.d-info{
    padding-bottom: 24px;
}
.d-info>h5{
    padding-bottom: 12px;
}
.opinions{
    background-color: #FFBE0B;
    padding: 67px 0;
    overflow: hidden;
}
.o-title>h3{
    padding-bottom: 12px;
}
.o-title>p{
    padding-bottom: 42px;
}

.jones{
    background-color: #fff;
}
.jones{
    width: 702px;
    height: 230px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;
    text-align: left;
    padding: 59.5px 0;
}

.startWith{
    width: 951px;
    margin: 89px auto 104px;
}
.phoneOrder>img{
    width: 327px;
    height: 322px;
}
.product{
    margin: 74px auto;
    text-align: left;
    
}
.blue{
    color: #2203E4;
    margin: 16px auto;
}
.addTo{
    margin-top: 16px;
}

.disscount,
.mail,
.waiting{
    width: 508px;
}
.emailField{
    margin-top: 28px;
    margin-bottom: 14px;
}
.mail{
    height: 70px;
    padding: 25px 0 25px 23px;
    background-color: rgba(58, 134, 255, 0.2);
    border: none;
    border-radius: 12px;
    color: #2203E4;
}
::placeholder{
    color: #2203E4;
    font-size: 16px;
    font-weight: 400;
}
.waiting{
    margin: 0 auto;
}